# 1 Understand the Data Structure

In [1]:
import os
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

os.chdir('../data/raw')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230130 entries, 0 to 230129
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        230130 non-null  int64
 1   date      230130 non-null  object
 2   country   230130 non-null  object
 3   store     230130 non-null  object
 4   product   230130 non-null  object
 5   num_sold  221259 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 10.5+ MB

### 1.1 Check how many unique stores, countries, and product exist

In [4]:
# Stores
print(
    f"Train: \n{train.store.value_counts()}", 
    f"\n====\nTest:\n {test.store.value_counts()}"
    )

Train:
store
Discount Stickers       76710
Stickers for Less       76710
Premium Sticker Mart    76710
Name: count, dtype: int64
====
Test:
 store
Discount Stickers       32850
Stickers for Less       32850
Premium Sticker Mart    32850
Name: count, dtype: int64

In [5]:
# Countries
print(
    f"Train: \n{train.country.value_counts()}", 
    f"\n====\nTest:\n {test.country.value_counts()}"
    )

Train:
country
Canada       38355
Finland      38355
Italy        38355
Kenya        38355
Norway       38355
Singapore    38355
Name: count, dtype: int64
====
Test:
 country
Canada       16425
Finland      16425
Italy        16425
Kenya        16425
Norway       16425
Singapore    16425
Name: count, dtype: int64

In [14]:
# Products 
print(
    f"Train: \n{train['product'].value_counts()}", 
    f"\n====\nTest:\n {test['product'].value_counts()}"
    )

Train:
product
Holographic Goose     46026
Kaggle                46026
Kaggle Tiers          46026
Kerneler              46026
Kerneler Dark Mode    46026
Name: count, dtype: int64
====
Test:
 product
Holographic Goose     19710
Kaggle                19710
Kaggle Tiers          19710
Kerneler              19710
Kerneler Dark Mode    19710
Name: count, dtype: int64

<div style="padding: 20px 12px; background-color: lightcyan; color: darkcyan; font-weight: bold"> The stores, countries, and products are divided equally... </div>

### 1.2 Identify the time range of training vs test data

In [19]:
# Dates
print(
    f"Train: \n{train['date'].agg(['min', 'max'])}", 
    f"\n====\nTest:\n {test['date'].agg(['min', 'max'])}"
    )

Train:
min    2010-01-01
max    2016-12-31
Name: date, dtype: object
====
Test:
 min    2017-01-01
max    2019-12-31
Name: date, dtype: object

<div style="padding: 20px 12px; background-color: lightcyan; color: darkcyan; font-weight: bold">
    The time range for training set is from the beginning of 2010 to the end of 2016 (7 years) while for the test set, it is from 2017 to the end of 2019 (2 years).
</div>

### 1.3 Verify date frequency

In [20]:
train['date'].value_counts()

date
2016-12-31    90
2010-01-01    90
2010-01-02    90
2010-01-03    90
2010-01-04    90
              ..
2010-01-18    90
2010-01-17    90
2010-01-16    90
2010-01-15    90
2010-01-14    90
Name: count, Length: 2557, dtype: int64

In [22]:
test['date'].value_counts()

date
2019-12-31    90
2017-01-01    90
2017-01-02    90
2017-01-03    90
2017-01-04    90
              ..
2017-01-12    90
2017-01-11    90
2017-01-10    90
2017-01-09    90
2017-01-08    90
Name: count, Length: 1095, dtype: int64

<div style="padding: 20px 12px; background-color: lightcyan; color: darkcyan; font-weight: bold">
    For each day, there are 90 occurrences.
</div>